@model SoccerManager.Models.News

<article>
    <h3>@Html.DisplayFor(modelItem => Model.Title)</h3>
    <small>@Html.DisplayFor(modelItem => Model.PostedDate)</small>
    <p>@Html.DisplayFor(modelItem => Model.Message)</p>
</article>



